repos:
  - repo: local
    hooks:
      - id: bandit
        name: Bandit
        entry: bandit -c pyproject.toml -r .
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
